Author: Hector

Run this after running the cleaning scripts for tasa de desempleos and delitos

In [1]:
import pandas as pd

In [2]:
df_delitos = pd.read_csv('../../data/clean/DelitosTipo1/DelitosTipo1-2010-2020_deltas_mensuales(interpolado).csv',
                        index_col=0)

In [3]:
df_delitos

,Distrito,Tipo I,Ases.,Viol.,Robo,Agr. Grave,Esc.,Apr. I,H. Auto,Date
0,Adjuntas,34.0,0.0,0.0,4.0,1.0,12.0,16.0,1.0,2010-01-01
1,Ponce,243.0,4.0,0.0,26.0,14.0,52.0,123.0,24.0,2010-01-01
2,Peñuelas,12.0,0.0,0.0,2.0,0.0,6.0,2.0,2.0,2010-01-01
3,Patillas,13.0,0.0,0.0,0.0,4.0,6.0,3.0,0.0,2010-01-01
4,Orocovis,22.0,0.0,0.0,0.0,0.0,10.0,12.0,0.0,2010-01-01
...,...,...,...,...,...,...,...,...,...,...
10291,Orocovis,11.0,0.0,0.0,0.0,2.0,5.0,3.0,1.0,2020-12-01
10292,Patillas,8.0,0.0,0.0,0.0,6.0,1.0,1.0,0.0,2020-12-01
10293,Ponce,71.0,0.0,1.0,6.0,10.0,13.0,40.0,1.0,2020-12-01
10294,Mayagüez,34.0,2.0,0.0,1.0,6.0,6.0,18.0,1.0,2020-12-01
10295,Peñuelas,8.0,0.0,0.0,0.0,4.0,1.0,2.0,1.0,2020-12-01

In [4]:
df_desempleos = pd.read_csv('../../data/clean/Tasa de Desempleos/tasa_de_desempleos_y_mas_limpio.csv'
                           )

In [5]:
df_desempleos

,Date,Municipio o Area,Tasa de Desempleo,Num. Personas Desempleadas,Num. Personas Empleadas,Num. Personas Grupo Trabajador
0,2000-08-01,"San Juan-Carolina-Caguas, PR",9.1,83476.0,782071.0,839751.0
1,2000-08-01,Vieques,10.8,332.0,2562.0,2336.0
2,2000-08-01,"San Germán, PR",11.6,6004.0,41363.0,45568.0
3,2000-08-01,Carolina,8.1,6800.0,71512.0,75943.0
4,2000-08-01,Vega Baja,10.8,2377.0,17830.0,19616.0
...,...,...,...,...,...,...
22700,2020-08-01,Manatí NSA,8.5,932.0,10056.0,10988.0
22701,2020-08-01,Luquillo,10.4,622.0,5343.0,5965.0
22702,2020-08-01,Culebra,8.0,75.0,858.0,933.0
22703,2020-08-01,Morovis,11.0,847.0,6856.0,7703.0
22704,2020-08-01,Puerto Rico SA,8.3,86123.0,951707.0,1037830.0

In [6]:
df_delitos.dtypes

Distrito       object
Tipo I        float64
Ases.         float64
Viol.         float64
Robo          float64
Agr. Grave    float64
Esc.          float64
Apr. I        float64
H. Auto       float64
Date           object
dtype: object

In [7]:
df_delitos['Date'] = pd.to_datetime(df_delitos.Date)

In [8]:
df_delitos.dtypes

Distrito              object
Tipo I               float64
Ases.                float64
Viol.                float64
Robo                 float64
Agr. Grave           float64
Esc.                 float64
Apr. I               float64
H. Auto              float64
Date          datetime64[ns]
dtype: object

In [9]:
df_desempleos.dtypes

Date                               object
Municipio o Area                   object
Tasa de Desempleo                 float64
Num. Personas Desempleadas        float64
Num. Personas Empleadas           float64
Num. Personas Grupo Trabajador    float64
dtype: object

In [10]:
df_desempleos['Date'] = pd.to_datetime(df_desempleos.Date)

In [11]:
df_desempleos.dtypes

Date                              datetime64[ns]
Municipio o Area                          object
Tasa de Desempleo                        float64
Num. Personas Desempleadas               float64
Num. Personas Empleadas                  float64
Num. Personas Grupo Trabajador           float64
dtype: object

In [12]:
df_merge = pd.merge(df_delitos, df_desempleos,
         left_on=['Distrito', 'Date'],
         right_on=['Municipio o Area','Date'])

In [13]:
df_merge.isna().sum()

Distrito                          0
Tipo I                            0
Ases.                             0
Viol.                             0
Robo                              0
Agr. Grave                        0
Esc.                              0
Apr. I                            0
H. Auto                           0
Date                              0
Municipio o Area                  0
Tasa de Desempleo                 0
Num. Personas Desempleadas        0
Num. Personas Empleadas           0
Num. Personas Grupo Trabajador    0
dtype: int64

In [14]:
df_merge.drop(columns=['Municipio o Area'], inplace=True)

In [15]:
df_merge.dtypes

Distrito                                  object
Tipo I                                   float64
Ases.                                    float64
Viol.                                    float64
Robo                                     float64
Agr. Grave                               float64
Esc.                                     float64
Apr. I                                   float64
H. Auto                                  float64
Date                              datetime64[ns]
Tasa de Desempleo                        float64
Num. Personas Desempleadas               float64
Num. Personas Empleadas                  float64
Num. Personas Grupo Trabajador           float64
dtype: object

In [16]:
df_merge.to_csv('../../data/clean/Delitos y Desempleos/delitos_desempleos_merged_(deltas_mensuales).csv', index=False)