Author: Hector

Run this after running the cleaning scripts for tasa de desempleos and delitos

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_delitos = pd.read_csv('../../data/clean/DelitosTipo1/DelitosTipo1-2010-2020_deltas_mensuales(interpolado).csv',
                        index_col=0)

In [3]:
df_delitos

,Distrito,Tipo I,Ases.,Viol.,Robo,Agr. Grave,Esc.,Apr. I,H. Auto,Date
0,Adjuntas,34.0,0.0,0.0,4.0,1.0,12.0,16.0,1.0,2010-01-01
1,Ponce,243.0,4.0,0.0,26.0,14.0,52.0,123.0,24.0,2010-01-01
2,Peñuelas,12.0,0.0,0.0,2.0,0.0,6.0,2.0,2.0,2010-01-01
3,Patillas,13.0,0.0,0.0,0.0,4.0,6.0,3.0,0.0,2010-01-01
4,Orocovis,22.0,0.0,0.0,0.0,0.0,10.0,12.0,0.0,2010-01-01
...,...,...,...,...,...,...,...,...,...,...
10291,Orocovis,11.0,0.0,0.0,0.0,2.0,5.0,3.0,1.0,2020-12-01
10292,Patillas,8.0,0.0,0.0,0.0,6.0,1.0,1.0,0.0,2020-12-01
10293,Ponce,71.0,0.0,1.0,6.0,10.0,13.0,40.0,1.0,2020-12-01
10294,Mayagüez,34.0,2.0,0.0,1.0,6.0,6.0,18.0,1.0,2020-12-01
10295,Peñuelas,8.0,0.0,0.0,0.0,4.0,1.0,2.0,1.0,2020-12-01

In [4]:
df_desempleos = pd.read_csv('../../data/clean/Tasa de Desempleos/tasa_de_desempleos_y_mas_limpio.csv'
                           )

In [5]:
df_desempleos

,Date,Municipio o Area,Tasa de Desempleo,Num. Personas Desempleadas,Num. Personas Empleadas,Num. Personas Grupo Trabajador
0,2020-08-01,Puerto Rico SA,8.3,86123.0,951707.0,1037830.0
1,2020-07-01,Puerto Rico SA,8.5,87804.0,946949.0,1034753.0
2,2020-06-01,Puerto Rico SA,8.9,92311.0,942830.0,1035141.0
3,2020-05-01,Puerto Rico SA,9.0,93122.0,939024.0,1032146.0
4,2020-02-01,Puerto Rico SA,8.5,92713.0,975464.0,1048791.0
...,...,...,...,...,...,...
22700,2000-12-01,"San Juan-Carolina-Caguas, PR MSA",9.0,67176.0,758365.0,845088.0
22701,2000-11-01,"San Juan-Carolina-Caguas, PR MSA",8.6,66478.0,765566.0,838129.0
22702,2000-10-01,"San Juan-Carolina-Caguas, PR MSA",9.9,75071.0,756275.0,833436.0
22703,2000-09-01,"San Juan-Carolina-Caguas, PR MSA",8.8,71936.0,780914.0,837502.0
22704,2000-08-01,"San Juan-Carolina-Caguas, PR MSA",9.1,83476.0,782071.0,839751.0

In [6]:
df_delitos.dtypes

Distrito       object
Tipo I        float64
Ases.         float64
Viol.         float64
Robo          float64
Agr. Grave    float64
Esc.          float64
Apr. I        float64
H. Auto       float64
Date           object
dtype: object

In [7]:
df_delitos['Date'] = pd.to_datetime(df_delitos.Date)

In [8]:
df_delitos.dtypes

Distrito              object
Tipo I               float64
Ases.                float64
Viol.                float64
Robo                 float64
Agr. Grave           float64
Esc.                 float64
Apr. I               float64
H. Auto              float64
Date          datetime64[ns]
dtype: object

In [9]:
# unique municipalities in criminality dataset
len(list(df_delitos['Distrito'].unique()))

78

In [10]:
delitos_municipalities = df_delitos['Distrito'].unique()

In [11]:
df_desempleos.dtypes

Date                               object
Municipio o Area                   object
Tasa de Desempleo                 float64
Num. Personas Desempleadas        float64
Num. Personas Empleadas           float64
Num. Personas Grupo Trabajador    float64
dtype: object

In [12]:
df_desempleos['Date'] = pd.to_datetime(df_desempleos.Date)

In [13]:
df_desempleos.dtypes

Date                              datetime64[ns]
Municipio o Area                          object
Tasa de Desempleo                        float64
Num. Personas Desempleadas               float64
Num. Personas Empleadas                  float64
Num. Personas Grupo Trabajador           float64
dtype: object

In [14]:
# Entries of municipality and areas of unemployment dataset
len(list(df_desempleos['Municipio o Area'].unique()))

95

In [15]:
desempleos_municipalities_areas = df_desempleos['Municipio o Area'].unique()

In [16]:
df_merge = pd.merge(df_delitos, df_desempleos,
         left_on=['Distrito', 'Date'],
         right_on=['Municipio o Area','Date'])

In [17]:
df_merge.isna().sum()

Distrito                          0
Tipo I                            0
Ases.                             0
Viol.                             0
Robo                              0
Agr. Grave                        0
Esc.                              0
Apr. I                            0
H. Auto                           0
Date                              0
Municipio o Area                  0
Tasa de Desempleo                 0
Num. Personas Desempleadas        0
Num. Personas Empleadas           0
Num. Personas Grupo Trabajador    0
dtype: int64

In [18]:
df_merge.drop(columns=['Municipio o Area'], inplace=True)

In [19]:
df_merge.dtypes

Distrito                                  object
Tipo I                                   float64
Ases.                                    float64
Viol.                                    float64
Robo                                     float64
Agr. Grave                               float64
Esc.                                     float64
Apr. I                                   float64
H. Auto                                  float64
Date                              datetime64[ns]
Tasa de Desempleo                        float64
Num. Personas Desempleadas               float64
Num. Personas Empleadas                  float64
Num. Personas Grupo Trabajador           float64
dtype: object

Verifying that all 78 municipalities are available after merge

In [20]:
merged_municipalities = df_merge['Distrito'].unique()

In [21]:
merged_municipalities.size

78

In [22]:
np.setdiff1d( delitos_municipalities, merged_municipalities)

array([], dtype=object)

In [23]:
# If the above array is empty then we have all required municipalities

In [24]:
np.setdiff1d(delitos_municipalities, desempleos_municipalities_areas)

array([], dtype=object)

In [25]:
df_merge.to_csv('../../data/clean/Delitos y Desempleos/delitos_desempleos_merged_(deltas_mensuales).csv', index=False)