# Population Total & Change since 2020
- https://censo.estadisticas.pr/node/517

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("../../data/raw/po-total-pr.csv", encoding="utf-16", delimiter='\t')
df

,Municipio,Geometry,Latitude (generated),Longitude (generated),Cambio desde abril/2020 (#),Cambio desde abril/2020 (%),Pob. Total
0,Yauco,Polygon,18.085177,-66.862356,-1268,-0.03711,32904
1,Yabucoa,Polygon,18.069003,-65.893273,-1121,-0.03684,29305
2,Villalba,Polygon,18.127523,-66.471331,-627,-0.02838,21466
3,Vieques,Polygon,18.124780,-65.398725,-206,-0.02497,8043
4,Vega Baja,Polygon,18.417071,-66.393429,-730,-0.01342,53684
...,...,...,...,...,...,...,...
73,Aibonito,Polygon,18.136424,-66.255095,-82,-0.00333,24555
74,Aguas Buenas,Polygon,18.247799,-66.131220,-685,-0.02828,23538
75,Aguadilla,Polygon,18.445959,-67.126183,-1170,-0.02123,53931
76,Aguada,Polygon,18.362060,-67.173705,-470,-0.01232,37666
77,Adjuntas,Polygon,18.181888,-66.756320,-115,-0.00638,17905

In [3]:
# Rename columns
df = df.rename(columns={
    "Municipio": "Municipality",
    "Latitude (generated)": "Latitude",
    "Longitude (generated)": "Longitude",
    "Cambio desde abril/2020  (#)": "Change since April 2020 (#)",
    "Cambio desde abril/2020  (%)": "Change since April 2020 (%)",
    "Pob. Total": "Total Population",
})
# Remove useless columns (e.g. "Geometry")
df = df.drop("Geometry", axis=1) if "Geometry" in df else df
df

,Municipality,Latitude,Longitude,Change since April 2020 (#),Change since April 2020 (%),Total Population
0,Yauco,18.085177,-66.862356,-1268,-0.03711,32904
1,Yabucoa,18.069003,-65.893273,-1121,-0.03684,29305
2,Villalba,18.127523,-66.471331,-627,-0.02838,21466
3,Vieques,18.124780,-65.398725,-206,-0.02497,8043
4,Vega Baja,18.417071,-66.393429,-730,-0.01342,53684
...,...,...,...,...,...,...
73,Aibonito,18.136424,-66.255095,-82,-0.00333,24555
74,Aguas Buenas,18.247799,-66.131220,-685,-0.02828,23538
75,Aguadilla,18.445959,-67.126183,-1170,-0.02123,53931
76,Aguada,18.362060,-67.173705,-470,-0.01232,37666
77,Adjuntas,18.181888,-66.756320,-115,-0.00638,17905

In [4]:
# Sort values by biggest municipality first.
df.sort_values(by='Total Population', ascending=False)

,Municipality,Latitude,Longitude,Change since April 2020 (#),Change since April 2020 (%),Total Population
13,San Juan,18.387908,-66.063966,-7483,-0.02186,334776
67,BayamÃ³n,18.349388,-66.164976,-3610,-0.01949,181577
62,Carolina,18.371362,-65.958691,-3244,-0.02095,151571
20,Ponce,18.048429,-66.605541,-5353,-0.03893,132138
65,Caguas,18.219978,-66.042809,-2108,-0.01657,125136
...,...,...,...,...,...,...
29,Maunabo,18.022769,-65.925067,-221,-0.02087,10368
35,Las MarÃ­as,18.248867,-66.993165,-169,-0.01904,8705
3,Vieques,18.124780,-65.398725,-206,-0.02497,8043
30,Maricao,18.169651,-66.949130,-180,-0.03785,4575
53,Culebra,18.316973,-65.292855,-23,-0.01283,1769

In [5]:
# Output the DataFrame to CSV, and overwrite if the file already exists.
df.to_csv("../../data/clean/po-total-pr-clean.csv", index=False)